# EDA and PREPROCESSING

glob() function helps to read the files in same directory

In [7]:
import pandas as pd
from glob import glob
import numpy as np

In [8]:
stock_files = glob(r'F:\DATA SCIENCE\Project 2\youtube\data_*.csv')
stock_files

['F:\\DATA SCIENCE\\Project 2\\youtube\\data_1.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_10.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_11.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_12.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_13.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_14.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_15.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_16.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_17.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_18.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_19.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_2.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_20.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_21.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_22.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_23.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_24.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_25.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_26.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_27.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_28.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_29.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_3.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_30.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_31.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_4.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_5.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_6.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_7.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_8.csv',
 'F:\\DATA SCIENCE\\Project 2\\youtube\\data_9.csv']

In [10]:
data = pd.concat( (pd.read_csv(file) for file in stock_files), ignore_index = True)
data.head()

,Unnamed: 0,v_id,v_title,publishedAt,description,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,Category
0,0,-ETQ97mXXF0,Data Science Full Course - Learn Data Science ...,2019-08-18,"üî• Data Science Master Program (Use Code ""ùêòùêéùêîùêìùêî...",1362862,31584.0,395.0,0,376.0,Data science
1,1,X3paOmcrTjQ,Data Science In 5 Minutes | Data Science For B...,2018-12-04,üî•Free Data Science with Python course: https:/...,1837249,26300.0,977.0,0,947.0,Data science
2,2,xC-c7E5PK0Y,What REALLY is Data Science? Told by a Data Sc...,2018-06-23,Interested in Data Science? Start with learnin...,2083890,80570.0,1048.0,0,2711.0,Data science
3,3,u2zsY-2uZiE,Data Science Tutorial | Data Science for Begin...,2020-02-03,üî•Get the free certificate of completion for th...,647915,21706.0,262.0,0,470.0,Data science
4,4,XnNzck5-HdQ,Complete Roadmap to Become a Data Scientist,2020-09-23,How to become a Data Scientist: Become a self ...,356437,22906.0,252.0,0,2508.0,Data science

In [11]:
data.columns

Index(['Unnamed: 0', 'v_id', 'v_title', 'publishedAt', 'description',
       'viewCount', 'likeCount', 'dislikeCount', 'favoriteCount',
       'commentCount', 'Category'],
      dtype='object')

In [12]:
data.drop(['Unnamed: 0','favoriteCount'], axis='columns', inplace=True)
print('Shape of Dataframe = ', data.shape)
data.head()

Shape of Dataframe =  (1550, 9)

,v_id,v_title,publishedAt,description,viewCount,likeCount,dislikeCount,commentCount,Category
0,-ETQ97mXXF0,Data Science Full Course - Learn Data Science ...,2019-08-18,"üî• Data Science Master Program (Use Code ""ùêòùêéùêîùêìùêî...",1362862,31584.0,395.0,376.0,Data science
1,X3paOmcrTjQ,Data Science In 5 Minutes | Data Science For B...,2018-12-04,üî•Free Data Science with Python course: https:/...,1837249,26300.0,977.0,947.0,Data science
2,xC-c7E5PK0Y,What REALLY is Data Science? Told by a Data Sc...,2018-06-23,Interested in Data Science? Start with learnin...,2083890,80570.0,1048.0,2711.0,Data science
3,u2zsY-2uZiE,Data Science Tutorial | Data Science for Begin...,2020-02-03,üî•Get the free certificate of completion for th...,647915,21706.0,262.0,470.0,Data science
4,XnNzck5-HdQ,Complete Roadmap to Become a Data Scientist,2020-09-23,How to become a Data Scientist: Become a self ...,356437,22906.0,252.0,2508.0,Data science

## Remove Duplicates

We can check for any duplicate values in the dataframe using function .duplicated() and remove them accordingly using function drop_duplicates().

In [13]:
print("There are {} duplicated values.".format(data.duplicated().sum()))
data[data.duplicated(keep=False)].head(10)

There are 0 duplicated values.

Empty DataFrame
Columns: [v_id, v_title, publishedAt, description, viewCount, likeCount, dislikeCount, commentCount, Category]
Index: []

In [14]:
# drop duplicates except for the first occurrence
data = data.drop_duplicates()
data

,v_id,v_title,publishedAt,description,viewCount,likeCount,dislikeCount,commentCount,Category
0,-ETQ97mXXF0,Data Science Full Course - Learn Data Science ...,2019-08-18,"üî• Data Science Master Program (Use Code ""ùêòùêéùêîùêìùêî...",1362862,31584.0,395.0,376.0,Data science
1,X3paOmcrTjQ,Data Science In 5 Minutes | Data Science For B...,2018-12-04,üî•Free Data Science with Python course: https:/...,1837249,26300.0,977.0,947.0,Data science
2,xC-c7E5PK0Y,What REALLY is Data Science? Told by a Data Sc...,2018-06-23,Interested in Data Science? Start with learnin...,2083890,80570.0,1048.0,2711.0,Data science
3,u2zsY-2uZiE,Data Science Tutorial | Data Science for Begin...,2020-02-03,üî•Get the free certificate of completion for th...,647915,21706.0,262.0,470.0,Data science
4,XnNzck5-HdQ,Complete Roadmap to Become a Data Scientist,2020-09-23,How to become a Data Scientist: Become a self ...,356437,22906.0,252.0,2508.0,Data science
...,...,...,...,...,...,...,...,...,...
1545,qPlqTdkJLYw,Biden orders further review of COVID-19 origins,2021-05-26,President Biden asked America's intelligence c...,30211,205.0,1243.0,NaN,Covid 19
1546,BtN-goy9VOY,The Coronavirus Explained & What You Should Do,2020-03-19,Get Merch designed with ‚ù§ from https://kgs.lin...,30347672,969406.0,14653.0,62422.0,Covid 19
1547,xTvd7oAEyhs,Home Care Tips For Mild COVID-19 Cases | Dr. S...,2020-07-20,"Dr. Sushila Kataria, Senior Director, Internal...",3472529,73480.0,1557.0,5220.0,Covid 19
1548,PWzbArPgo-o,"COVID-19 | Coronavirus: Epidemiology, Pathophy...",2020-03-16,"Ninja Nerds,\n\nWhat is Corona virus? What is ...",5414124,90712.0,3065.0,8548.0,Covid 19
1549,XTMzxhbSxB0,üî•TIN N√ìNG COVID-19 CHI·ªÄU 30/5: Th√™m 40 ca d∆∞∆°n...,2021-05-30,VNEWS - TPHCM ghi nh·∫≠n th√™m 40 tr∆∞·ªùng h·ª£p nhi·ªÖ...,60780,143.0,24.0,NaN,Covid 19

In [15]:
# check for the info after removing duplicates
print("There are {} duplicated values.\n".format(data.duplicated().sum()))
data.info()

There are 0 duplicated values.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 0 to 1549
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   v_id          1550 non-null   object
 1   v_title       1550 non-null   object
 2   publishedAt   1550 non-null   object
 3   description   1525 non-null   object
 4   viewCount     1550 non-null   int64
 5   likeCount     1519 non-null   float64
 6   dislikeCount  1519 non-null   float64
 7   commentCount  1498 non-null   float64
 8   Category      1550 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 121.1+ KB

## Finding and Replacing Nan values

In [16]:
# check for the Nan values
data.isna().sum()

v_id             0
v_title          0
publishedAt      0
description     25
viewCount        0
likeCount       31
dislikeCount    31
commentCount    52
Category         0
dtype: int64

Our data set contains Nan values,
1. All numeric values are replaced with zero
2. All object values replaced with empty

In [17]:
data['likeCount'] = data['likeCount'].fillna(0)
data['dislikeCount'] = data['dislikeCount'].fillna(0)
data['commentCount'] = data['commentCount'].fillna(0)
data['description'] = data['description'].fillna('')

In [18]:
data.head()

,v_id,v_title,publishedAt,description,viewCount,likeCount,dislikeCount,commentCount,Category
0,-ETQ97mXXF0,Data Science Full Course - Learn Data Science ...,2019-08-18,"üî• Data Science Master Program (Use Code ""ùêòùêéùêîùêìùêî...",1362862,31584.0,395.0,376.0,Data science
1,X3paOmcrTjQ,Data Science In 5 Minutes | Data Science For B...,2018-12-04,üî•Free Data Science with Python course: https:/...,1837249,26300.0,977.0,947.0,Data science
2,xC-c7E5PK0Y,What REALLY is Data Science? Told by a Data Sc...,2018-06-23,Interested in Data Science? Start with learnin...,2083890,80570.0,1048.0,2711.0,Data science
3,u2zsY-2uZiE,Data Science Tutorial | Data Science for Begin...,2020-02-03,üî•Get the free certificate of completion for th...,647915,21706.0,262.0,470.0,Data science
4,XnNzck5-HdQ,Complete Roadmap to Become a Data Scientist,2020-09-23,How to become a Data Scientist: Become a self ...,356437,22906.0,252.0,2508.0,Data science

In [19]:
# check for the Nan values replacing nan values
data.isna().sum()

v_id            0
v_title         0
publishedAt     0
description     0
viewCount       0
likeCount       0
dislikeCount    0
commentCount    0
Category        0
dtype: int64

## Pre-Processing

From the info() function above, we can see that all of the columns of the DataFrame are in object format. We need to convert those column format into the correct format before we can perform analysis and visualization. For example, we need to convert the columns for "commentCount", "dislikeCount", "favoriteCount", "likeCount", "viewCount" into numeric data format. For "publishedAt" column, we need to convert it into datetime format. After that, we will sort the DataFrame by viewCount and likeCount for easy comprehension at a glance.

In [28]:
# convert string into numeric and datetime columns
# sort table by viewCount and likeCount
from sklearn.utils import shuffle
numeric_columns = ["commentCount", "dislikeCount", "likeCount", "viewCount"]
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric)
data["publishedAt"] = pd.to_datetime(data["publishedAt"])
data_final = data.sort_values(by=['viewCount', 'likeCount'], ascending=False).reset_index(drop=True)
yt_data_final = shuffle(data_final).reset_index(drop=True)
yt_data_final.head()

,v_id,v_title,publishedAt,description,viewCount,likeCount,dislikeCount,commentCount,Category
0,nA1Aqp0sPQo,21st Century Education,2012-05-08,21st Century Education,1087223,0.0,0.0,0.0,Education
1,VWUJQqljHzI,Ultimate Food Hacks Compilation,2020-05-22,"Ultimate food life hacks video, best of tips a...",19736385,383373.0,15770.0,13809.0,food
2,WVOk5FUqbGs,Manufacturing Processes Classification hindi,2020-12-17,,10798,535.0,6.0,26.0,Manufacturing Process
3,tKAJd0mdh7E,Some Interesting Amazing Gk Questions Answers ...,2021-05-30,some interesting Gk questions with answers\n\n...,3020,52.0,5.0,10.0,Education
4,S8MmsBsGP-Q,Data Science & Artificial Intelligence Career ...,2019-12-04,Wish to build your career in Data Science and ...,348323,8301.0,197.0,165.0,Data science

In [29]:
yt_data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1550 entries, 0 to 1549
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   v_id          1550 non-null   object
 1   v_title       1550 non-null   object
 2   publishedAt   1550 non-null   datetime64[ns]
 3   description   1550 non-null   object
 4   viewCount     1550 non-null   int64
 5   likeCount     1550 non-null   float64
 6   dislikeCount  1550 non-null   float64
 7   commentCount  1550 non-null   float64
 8   Category      1550 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 109.1+ KB

In [31]:
yt_data_final.to_csv('youtube_data_final.csv',encoding='utf-8')